@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Outfit', sans-serif; /* Make sure to include the font-family fallback */
}

.active hr {
    @apply block;
}

@media (max-width: 740px) {
    .active p {
       color: white; /* Directly set text color */
       background-color: var(--tw-bg-primary); /* Use the Tailwind variable for primary background */
    }
}

::-webkit-scrollbar {
    @apply hidden;
}
